$animation: spin 10s infinite linear;

.player .player--left  .song-image .song-cd.spinning{
    animation: $animation;
}

.playlist-header .playlist-header__thumbnail .song-cd.spinning{
    @media screen and (max-width: $br-medium){
        animation: $animation;
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}