$layout-bg: #170f23;
$button-bg: #7200a1;
$light-bg: hsla(0,0%,100%,0.1);
$player-bg: #120c1c;
$more-bg: #432275;
$search-text: rgba(255,255,255,0.8);
$text-primary: #fff;
$text-secondary: hsla(0,0%,100%,0.5);
$playlist-border: hsla(0,0%,100%,0.05);
$player-border: hsla(0,0%,100%,0.15);