header.sticky{
    position: sticky;
    top: 0;
    background: $layout-bg;
    z-index: 999;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    @media screen and (max-width: $br-small) {
        padding: 20px;
    }

    .menu-wrapper{
        cursor: pointer;
        $menu-contents-top-begin: 55px;
        $menu-contents-top-end: 75px; //Header height - 5px

        &.active{
            .menu-bars{
                .menu-bar:nth-of-type(1){
                    transform: rotate(45deg) translateX(1px);
                }
                
                .menu-bar:nth-of-type(2){
                    display: none;
                }
                
                .menu-bar:nth-of-type(3){
                    transform: rotate(-45deg) translateX(1px);
                }
            }

            .menu-contents{
                animation: appear-from-top 250ms forwards linear;

                @keyframes appear-from-top {
                    to{
                        visibility: visible;
                        opacity: 1;
                        top: $menu-contents-top-end;
                    }
                }
            }
        }

        &.closed{
            .menu-contents{
                animation: hide-to-top 250ms forwards linear;

                @keyframes hide-to-top {
                    from{
                        visibility: visible;
                        opacity: 1;
                        top: $menu-contents-top-end;
                    }

                    to{
                        //Default styling
                        visibility: 0;
                        opacity: 0;
                        top: $menu-contents-top-begin;
                    }
                }
            }
        }

        .menu-bars{
            &:hover>.menu-bar{
                background: $text-hover;
            }

            .menu-bar{
                width: 25px;
                height: 2px;
                background: #fff;
            }

            .menu-bar:nth-of-type(2){
                margin: 5px 0;
            }
        }

        .menu-contents{
            position: absolute;
            top: $menu-contents-top-begin;
            left: 0;
            width: 100%;
            background: $layout-bg;
            visibility: hidden;
            opacity: 0;

            .menu-content{
                margin-bottom: 15.5px;
                text-align: center;

                &:hover{
                    color: $text-hover;
                }
            }
        }
        
    }

    .search-wrapper{
        display: flex;
        align-items: center;
        position: relative;
        width: 70%;
        max-width: 450px;
        
        @media screen and (max-width: $br-small) {
            width: 60%;
        }

        input{
            width: 100%;
            height: 35px;
            border-radius: 999px;
            outline: none;
            border: none;
            background: $light-bg;
            padding: 0 20px 0 35px;
            
            &, &::placeholder{
                color: $search-text;
            }
        }

        .fa-search{
            position: absolute;
            left: 10px;
        }
    }
    
    .timer-wrapper{
        cursor: pointer;
        font-size: 1.5rem;
        z-index: 999; //On top of Popup


        @media screen and (max-width: $br-small) {
            right: 20px;
        }

        i{
            position: relative;

            &:hover::before,
            &.active{
                color: $text-hover;
            }

            .timer-handler{
                position: absolute;
                right: -10px;
                top: -10px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $text-hover;
                font-size: .6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                
                &.active{
                    display: flex;
                }
            }
        }
    }

    .timer-form{
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 20px;
        background: $timer-form-bg;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        input, button{
            height: 35px;
            border-radius: 0;
            border: 1px solid $button-bg;
            background: #000;
            outline: none;
            color: #fff;
        }

        input{
            width: 150px;
            margin-right: 10px;
            padding: 5px 0 5px 10px;

            &.error{
                border: 1px solid $timer-input-error-border;
            }

            &::placeholder{
                color: #fff;
            }
        }

        button{
            padding: 5px;
            cursor: pointer;
            transition: background 200ms linear;

            &:hover{
                background: $button-bg;
            }
        }
    }
}