.playlist {
    flex: 1 1 60%;
    &__song {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $playlist-border;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        &.playing,
        &:hover {
            background: $light-bg;
            .song--left .song-image {
                img {
                    opacity: .6;
                }
                i {
                    display: initial;
                    color: #fff;
                }
            }
        }
        &:hover {
            //Remove hover on tablet and mobile
            @media screen and (max-width: $br-medium) {
                background: none;
                .song--left .song-image {
                    img {
                        opacity: initial;
                    }
                    i {
                        display: none;
                    }
                }
            }
        }
        .song--left,
        .song--middle,
        .song--right {
            color: $text-secondary;
        }
        .song--left {
            flex: 0 1 50%;
            display: flex;
            align-items: center;
            @media screen and (max-width: $br-big) {
                flex: 1;
            }
            
            @media screen and (max-width: $br-medium) {
                flex: 0 1 75%;
            }
            .song-image {
                margin-right: 10px;
                position: relative;
                img {
                    width: 50px;
                    height: 40px;
                    border-radius: 5px;
                }
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: none;
                }
            }
            .song-information {
                .song-name {
                    font-size: .95rem;
                    color: $text-primary;
                }
                .singer-name {
                    font-size: .8rem;
                }
            }
        }
        .song--middle {
            font-size: .85rem;
            @media screen and (max-width: $br-big) {
                display: none;
            }
        }
        .song--right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            position: relative;
            @media screen and (max-width: $br-big) {
                flex: 0;
            }

            @media screen and (max-width: $br-medium) {
                flex: 1;
            }
            .favoriteButton,
            .moreButton {
                cursor: pointer;
                &:hover {
                    color: $text-hover;
                    //Remove hover on tablet and mobile
                    @media screen and (max-width: $br-medium) {
                        color: inherit;
                    }
                }
            }
            .favoriteButton {
                margin-right: 5px;
                &.active {
                    color: $text-hover;
                    font-weight: 600; //Fill màu background
                }
            }
            .song-more {
                background: $more-bg;
                position: absolute;
                display: flex;
                flex-direction: column;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 5px;
                padding: 5px;
                white-space: nowrap;
                transition: all 250ms ease-in-out;
                &.hidden {
                    visibility: hidden;
                    opacity: 0;
                }
                &.show {
                    visibility: visible;
                    opacity: 1;
                }
                .more {
                    &:not(:last-of-type) {
                        margin-bottom: 5px;
                    }
                    //Icon
                    i::before {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}