.player{
    background: $player-bg;
    border-top: 1px solid $player-border;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 15px 10px 15px;

    @media screen and (max-width: $br-medium) {
        justify-content: center;
    }
    
    &--left{
        flex: 0 1 40%;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;

        @media screen and (max-width: $br-medium-big){
            flex: 0 1 35%;
        }

        @media screen and (max-width: $br-medium) {
            all: initial;
            display: none;
        }
        
        .song-image{
            margin-right: 10px;
    
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    
        .song-singer-name{
            color: $text-secondary;
            font-size: .85rem;
        }
    }

    &--middle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;

        .player-control--top{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 10px;

            i{
                cursor: pointer;
                position: relative;
                font-size: 16px;

                &.hidden{
                    display: none;
                }
                &.show{
                    display: initial;
                }

                &#repeatButton.active,
                &#randomButton.active{
                    color: $text-hover;
                }

                //Icon
                &::before{
                    display: inline-block;
                    position: relative;
                }

                &::after{
                    content: "";
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    top: 0;
                    left: 0;
                    transform: translate(-25%,-25%);
                    background: $light-bg;
                    opacity: 0;
                    visibility: hidden;
                }

                &#playButton,
                &#pauseButton{

                    &::after{
                        border: 1px solid #fff;
                        opacity: 1;
                        visibility: visible;
                        background: none;
                    }

                    &:hover{
                        color: $text-hover;

                        &::after{
                            border-color: $text-hover;
                        }
                    }
                }

                &#playButton::before{
                    left: 2px;
                }

                &#pauseButton::before,
                &#previousButton::before,
                &#nextButton::before{
                    left: 1px;
                }

                &:hover{

                    &::after{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }

        .player-control--bottom{
            display: flex;
            align-items: center;

            span{
                color: $search-text;
            }

            .current-time{
                min-width: 50px;
                text-align: right;
            }

            input[type="range"]{
                margin: 0 10px;
            }
        }
    }

    &--right{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media screen and (max-width: $br-medium) {
            all: initial;
            display: none;
        }

        i{
            margin-right: 10px;
        }
    }
}
